bin/
build/
_builds/
!Classes/
!Resources/
Resources/res/webcommApi
Resources/res/cta_assets/CTAFiles.zip
*.pyc
.DS_Store

# Version.json is generated at build time
Resources/res/configuration/Version.json