<div class="tools left" ng-if="!stickerPlacement">
    <div class="tool colourSelector verticalCenter" ng-click="showColour()">
        <div class="colourSelectorInner selectedColour verticalCenter"></div>
    </div>
    <div class="tool stickerSelector verticalCenter" ng-click="showStickers()">
        <div class="stickerSelectorInner verticalCenter"></div>
    </div>
</div>
<div class="tools middle" ng-if="!stickerPlacement">
    <div class="tool marker selected" ng-click="toolSelected('marker')">
        <ng-include src="'views/artApp/pencil.svg'"></ng-include>
    </div>
    <div class="tool highlighter unselectable" ng-click="toolSelected('highlighter')">
        <ng-include src="'views/artApp/highlighter.svg'"></ng-include>
    </div>
    <div class="tool circle unselectable" ng-click="toolSelected('circle')">
        <ng-include src="'views/artApp/brush.svg'"></ng-include>
    </div>
    <div class="tool spray unselectable" ng-click="toolSelected('spray')">
        <ng-include src="'views/artApp/spray.svg'"></ng-include>
    </div>
    <div class="tool text unselectable" ng-click="showStickers('text')">
        <div class="textIcon" ></div>
    </div>
    <div class="tool crayon unselectable" ng-click="toolSelected('crayon')">
        <ng-include src="'views/artApp/roller.svg'"></ng-include>
    </div>
    <div class="tool eraser unselectable" ng-click="toolSelected('eraser')">
        <ng-include src="'views/artApp/eraser.svg'"></ng-include>
    </div>
</div>
<div class="tools right" ng-if="!stickerPlacement">
    <div class="bin tool verticalCenter {{undoDisplayState}}" ng-click="binToolClicked()">
    </div>
</div>